.contact-section__text-and-form-container {
    display: block;
    width: 100%;
}
.contact-section__paragraph {
    margin-top: 0;
    margin: 0;
    a {
        text-decoration: none;
        color: $blue;
        &:hover {
            color: $pink;
        }
    }
}
.contact-section__text-container {
    h4 {
        margin: 0;
    }
}
.contact-form__container {
    padding-top: 48px;
}
@media screen and (min-device-width: 1025px) {
    .contact-section__text-and-form-container {
        display: flex;
        gap: 48px;
    }
    .contact-section__text-container {
        flex: 1;
        margin-bottom: 72px;
    }
    
    .contact-form__container {
        flex: 1;
        padding-top: 0;
    }

}
/* _______________________________ contact form */
.contact-form {
    label, input, textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;   
    }
    input, textarea {
        padding: 10px;
        font-size: 14px;
    }
    label {
        font-family: $primary-font;
        font-size: 12px;
        margin-bottom: 0; 
        letter-spacing: 2px;
    }
    input {
        height: 40px;
        margin-bottom: 24px;
    }
    textarea {
        font-family: $text-font;
    }
    input[type="submit"] {
        font-family: $primary-font;
        background-color: $blue;
        border: none;
        color: white;
        transition: .2s;
        cursor: pointer;
        height: 48px;
        margin-top: 24px;
    }
    input[type="submit"]:hover {
        background-color: $pink;
    }
}