.contact-section__text-and-form-container {
    display: block;
    width: 100%;
}
.contact-section__paragraph {
    margin-top: 0;
    margin: 0;
}
.contact-section__text-container {
    h4 {
        margin: 0;
    }
}
.contact-form__container {
    padding-top: 48px;
}
@media screen and (min-device-width: 1200px) {
    .contact-section__text-and-form-container {
        display: flex;
        gap: 48px;
    }
    .contact-section__text-container {
        flex: 1;
        margin-bottom: 72px;
    }
    
    .contact-form__container {
        flex: 1;
        padding-top: 0;
    }

}
/* _______________________________ contact form */
.contact-form {
    label, input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-family: $text-font;
    }
    label {
        font-weight: bold;
        margin-bottom: 10px; 
    }
    input {
        height: 48px;
        margin-bottom: 36px;
    }
    input[type="text-area"] {
        height: 240px;
    }
    input[type="submit"] {
        background-color: $blue;
        border: none;
        color: white;
        font-weight: bold;
        transition: .2s;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: $pink;
    }
}