footer {
    height: auto;
    background-color: $dark-grey;
    color: white;
}

.widget__container {
    padding-top: 48px;
    position: relative;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.social-links-container {
    display: flex;
    justify-content: space-around;
}


.widget {
    width: 100%;
     flex: 1;
    p {
        margin: 0;
        font-size: 12px;
    }
    p:nth-child(3) {
        margin-bottom: 48px;
    }
    a {
        display: block;
        color: white;
        font-size: 12px;
        padding-bottom: 6px;
    }
    .impressum-link {
        font-size: 18px;
        font-weight: bold;
        font-variant: small-caps;
    }
}
.widget-social-img {
    display: block;
    width: 30px;
    height: auto;
    margin-left: 0;
}
.dev-info {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;;
}

@media screen and (min-device-width: 1200px) {   
    .widget__container {  
        padding-top: 48px;    
        height: 40vh;
        flex-direction: row;
        justify-content: space-between;
    }
    .widget {
        height:60%;
    }
    .social-links-container {
        justify-content: flex-end;
    }
    .widget-social-img {
        margin-left: 36px;
    }
}