.hero-section {  
    .hero-text-container{
        padding-top: 5vh;
        position: relative;
        width: 90vw;
        height: auto;
        margin: 0 auto;
        .hero-text-l {
            font-family: $primary-font;
            font-size: 40px;
            line-height: 1.1;
            margin-top: 0;
        }
        h1 {
            position: absolute;
            right: 300px;
            bottom: 0;
            font-family: NeutralFace; 
            font-size: 24px;
        }
    }  
}

@media screen and (min-device-width: 1200px) {
    .hero-text-l { 
        font-size: 180px;
        line-height: 1.1;
    }
}
@media screen and (min-device-width: 1440px) {

}