.hero-section {
  height: 105vh;
  .hero-text-container {
    position: relative;
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .hero-text {
      font-family: $primary-font;
    }

    .hero-text-sm {
      display: block;
      font-size: 8vh;
      margin: 0;
      line-height: 1.3;
    }

    .hero-text-l {
      display: none;
    }

    h1 {
      font-family: NeutralFace;
      font-size: 18px;
    }
  }
}

@media screen and (min-device-width: 1200px) {
  .hero-section {
    .hero-text-container {
      display: block;
      height: auto;
      padding-top: 5vh;

      .hero-text-sm {
        display: none;
      }

      .hero-text-l {
        display: block;
        font-size: 18vh;
        margin: 0;
        line-height: 1.2;
      }

      h1 {
        font-size: 24px;
      }
    }
    .hero__h1-container {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
