
.nav-container {
    width: 100vw;
    height: 2vh;
    position: relative;
}

.valer-container {
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
    display: flex;

    .color-field {
        flex: 1;
    }
    .color-field:nth-child(1) {
        background-color: #EA5890;
    }
    .color-field:nth-child(2) {
        background-color: #CD599C;
    }
    .color-field:nth-child(3) {
        background-color: #B25CAC;
    }
    .color-field:nth-child(4) {
        background-color: #965FB6;
    }
    .color-field:nth-child(5) {
        background-color: #7C62C5;
    }
    .color-field:nth-child(6) {
        background-color: #6365D2;
    }
    .color-field:nth-child(7) {
        background-color: #4E69E0;
    }
    .color-field:nth-child(8) {
        background-color: #406EEF;
    }
}    

    // __________________________________ small viewport menu

.sm-menu {
    margin-top: 0;;
    
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    // finish with javascript
    margin-left: -100vw;
    background-color: $light-grey;
    transition: .4s;
    li {
        margin-bottom: 40px;;
        a {
            text-decoration: none;
            color: $white;
            font-family: $primary-font;
            font-size: 48px;
            padding-left: 20px;
        }
    }
  }
.clicked {
    margin-left: 0;
}    
// __________________________________ large viewport menu
   
.nav-item {
    color: white;
    padding: 0 40px;
    font-family: OpenSans;
    font-size: 22px;
    font-variant: small-caps;   
}    

.large-menu-container {
    height: 100%;
}

.large-menu {
    display: none;    
}

@media screen and (min-device-width: 1200px) {
    .nav-container {
        height: 5vh;
    }
    .sm-menu {
        display: none;
    }
    .large-menu {
        height: 100%;
        margin: 0;
        display: flex;  
        justify-content: flex-end;
        align-items: center;

    }
}
    
