
.section--white {
        background-color: white;
    }
.section--grey {
    width: 100vw;
    background-color: white;
}
.last-grey-section {
    padding-bottom: 20vh;
}
.section__header--gray {
    width: 100vw;
    background-color: $light-grey;
}

//_______________________ SECTION SERVICES
.section__container { // container
    padding: 0;
}
  h2.section__header {
      font-family: $primary-font;
      color: white;
      font-size: 7vh;
      padding-top: 24px;
  }

  .section__description-container {
    margin-bottom: 24px;
}

  h3.section__description { //design, development, maintenance
      font-family: $primary-font;
      font-size: 28px; 
      font-weight: 100;
      margin: 0;  
  }
  h4.section__description {
      font-weight: 100;
      margin: 12px 0 0 0;
  }

  @media screen and (min-device-width: 1200px) {

    .section--white {
        background-color: $light-grey;
    }
    .section--grey {
        background-color: $light-grey;
    }

    h2.section__header {
      padding-top: 72px;
      font-size: 15vh;
      margin: 0; 
      }

    .section__description-container {
        padding: 48px 0 48px 0;
        border-top: 1px solid $dark-grey;
        margin-bottom: 56px;
    }

    h3.section__description { //design, development, maintenance
      font-size: 48px;
      margin-top: 18px;
    }
    h3.section__description:nth-child(1) {
        margin-top: 0;
    }

    .section__container {
        padding: 72px 150px 120px 150px;
    }
    
  }

  @media screen and (min-device-width: 1200px) {
    .section__container {
        
    } 
  }