
.section--white {
        background-color: white;
    }
.section--grey {
    width: 100vw;
    max-width: 100%;
    background-color: white;
}
.last-grey-section {
    padding-bottom: 20vh;
}
.section__header--grey {
    width: 100vw;
    max-width: 100%;
    background-color: $light-grey;
}

//_______________________ SECTION SERVICES
.section__container { // container
    padding: 0;
}
  h2.section__header {
      font-family: $primary-font;
      color: white;
      font-size: 7vh;
      padding-top: 120px;
      margin: 0;
  }
 
  .section__services-description-container {
    padding: 72px 0 16px 0;
    border-top: none;  
  }
  .section__description-container {
    padding: 42px 0 72px 0;
    border-top: 1px solid $light-grey;
}

  h3.section__description { //design, development, maintenance 
       font-family: $header-font; 
      font-size: 28px; 
      margin: 0;  
    }

   .section__sub-header { 
      font-family: $header-font;
      margin: 0;
    }

   .work-description { 
      font-family: $text-font;
      margin: 0;
      width: 100%;
  }

  #services .section__description, #contact .section__description {
    font-size: 50px;
  }

  .section__description-container, .section__services-description-container {
    border: none;
  }

  @media screen and (max-device-width: 374px){
    #services .section__description, #contact .section__description {
      font-size: 40px;
    }
  }

  @media screen and (min-device-width: 1200px) {

    .section--white {
        background-color: $light-grey;
    }
    .section--grey {
        background-color: $light-grey;
    }

    h2.section__header {
      padding-top: 72px;
      font-size: 15vh;
      }

    .section__description-container, .section__services-description-container {
        padding: 48px 0 48px 0;
        border-top: 1px solid $light-grey;
        margin-bottom: 56px;
    }

    h3.section__description { //design, development, maintenance
      font-size: 92px;
      margin-top: 18px; 
      line-height: 1;
    }
    h3.section__description:nth-child(1) {
      margin-top: 0;
    }

    .section__container {
        padding: 72px 150px 120px 150px;
    }
    .work-description { 
      font-family: $text-font;
      margin: 0;
      width: 50ch;
  }
    
  }
