.services-section__body {
    gap: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.services-section__text-container {
    order: 2;
    background-color: white;
    h4 {
        margin: 0;
        line-height: 2;
    }
}

.section__card-container {
    order: 1;
}

// ______________ not displayed on a large viewport
.sm-services-section__text-container {
    background-color:  white;
    padding: 48px 0;
    h4 {
        line-height: 2;
    }

    p {
        line-height: 1.8;
    }
}

@media screen and (min-device-width: 1200px) {

    .services-section__body {
        flex-direction: row;
    }
    
    .services-section__text-container {
        flex: 1;
        order: 1;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .services-section__text-container .btn-container {
        margin-top: auto;
    }
    .section__card-container {
        flex: 1;
        order: 2;
        margin: 0;
    }
}