.work-section {
    padding-bottom: 0;
}

.work__wrap {
    width: 100%;
    display: block; 
}

.mockups__container {
    height: 50vh;
}
.work-images__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;

    .mockup-img {

        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    }
    .phone-mockup {
        width: 110px;
        height: 100%;
        position: relative;
        top: 30px;
        z-index: 7;
       
    }
    .tablet-mockup {
        width: 300px;
        height: 100%;

        position: relative;
        left: -70px;
        z-index: 6;
        
    }
}
.work-description__container {
    height: 50vh;
    flex: 1;
}

 
@media screen and (min-device-width: 1200px) {
    .work-section {
        padding-bottom: 120px;
    }

    .work__wrap {
        display: flex;
    } 

    .mockups__container {
        height: 50vh;
        flex: 1;
    }

    .work-images__container {

        .phone-mockup {
            width: 160px;
            top: 60px; 
        }
        .tablet-mockup {
            width: 500px;
            left: -100px;   
        }
    }

    .work-description__container {
        height: 50vh;
        display: flex;
        flex: 1;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
    }
    
}