.work-section {
    padding-bottom: 0;
}

.work__wrap {
    width: 100%;
    display: block; 
}

.mockups__container {
    height: 35vh;
}
.work-images__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;

    .mockup-img {

        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    }
    .phone-mockup {
        width: 110px;
        height: 100%;
        position: relative;
        top: 30px;
        z-index: 7;
       
    }
    .tablet-mockup {
        width: 300px;
        height: 100%;

        position: relative;
        left: -70px;
        z-index: 6;
        
    }
}
.work-description__container {
    height: 50vh;
    flex: 1;
}
//__________________________ link to work

.link-to-work {
    margin-top: 10px;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: $blue;
    font-family: $text-font;
    font-weight: bold;
    font-variant: small-caps;
    
}
.link-to-work span {
    font-size: 18px;
    padding:0;
    flex: 2;
    transition: .3s;
}
.link-to-work .arrow-container {
    height: 100%;
    width: auto;
    flex: 1;
    background-image: url('../../src/images/right-arrow-blue.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s;
}
/* .arrow-container:hover {
    background-image: url('../../src/images/right-arrow-pink.svg');

} */
.link-to-work:hover .arrow-container,
.link-to-work:hover span {
    background-image: url('../../src/images/right-arrow-pink.svg');
    color: $pink;
}
/* .work-link-arrow {
    width: 30px;
    height: auto;
} */

 
@media screen and (min-device-width: 1200px) {
    .work-section {
        padding-bottom: 120px;
    }

    .work__wrap {
        display: flex;
        margin: 72px 0 48px 0;
    } 

    .mockups__container {
        height: 50vh;
        flex: 1;
    }

    .work-images__container {

        .phone-mockup {
            width: 160px;
            top: 60px; 
        }
        .tablet-mockup {
            width: 500px;
            left: -100px;   
        }
    }

    .work-description__container {
        height: 50vh;
        display: flex;
        flex: 1;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
    }
    
}