.work-section {
    padding-bottom: 0;
}
.single-work-container {
    min-height: 80vh;
    border-top: 1px solid $light-grey;
    margin-top: 72px;
}
.single-work-container:nth-child(1) {
    border: none;
}
.work__wrap {
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-areas:    "title card"
                            "img  img"
                            "text  text"
                            "link  link";
    grid-template-rows: 145px 1fr 50px 50px;
    grid-template-columns: 1fr 1fr;
    
}

/* .mockups__container {
    height: 35vh;
} */

.work-section-title-container {
    grid-area: title;
}
.work-card__container {
    grid-area: card;
}
.work-section-text-container {
    grid-area: text;
}
.work-img__container {
    grid-area: img;
}
.link__container {
    grid-area: link;
}
.mockup-img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}
.phone-mockup {
    width: 110px;
    height: 100%;
    position: relative;
    z-index: 7;
       
}

@media screen and (min-device-width: 1200px) {

    .work-section {
        padding-bottom: 120px;
    }

    .work__wrap {
        width: 100%;
        height: 100%; 
        display: grid;
        grid-template-areas:    "title img"
                                "text  img"
                                "card  img"
                                "link  img";
        grid-template-rows: auto 1fr 30vh 50px;
        grid-template-columns: 1fr 1fr;
        gap: 10px;;
    }

    .work__wrap {
        
    } 

    .work-img__container {
        display: flex;
        justify-content: flex-end;
    }

    .phone-mockup {
            width: auto;
            height: 80vh;
            align-self: center;
        }

        .work-card__container {
            display: flex;
            align-items: flex-end;
        }
        
        
}

//__________________________ link to work

.link-to-work {
    margin-top: 10px;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: $blue;
    font-family: $text-font;
    font-weight: bold;
    font-variant: small-caps;
    
}
.link-to-work span {
    font-size: 18px;
    padding:0;
    flex: 2;
    transition: .3s;
}
.link-to-work .arrow-container {
    height: 100%;
    width: auto;
    flex: 1;
    background-image: url('../../src/images/right-arrow-blue.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s;
}

.link-to-work:hover .arrow-container,
.link-to-work:hover span {
    background-image: url('../../src/images/right-arrow-pink.svg');
    color: $pink;
}
