// colors

$dark-grey:#24231F;
$mid-grey:#707070;
$light-grey:#EBEBEB;
$blue:#406EEF;
$pink:#EA5890;
$white:#FFFFFF;

// fonts

$primary-font: NeutralFace, sans-serif;
// $primary-font: 'Roboto', sans-serif;
// $header-font: OpenSansBold, sans-serif;
// $header-font: NeutralFace, sans-serif;
$header-font: 'Roboto', sans-serif;
//$text-font: OpenSans, sans-serif;
$text-font: 'Roboto', sans-serif;