// colors

$dark-grey:#24231F;
$mid-grey:#707070;
$light-grey:#EBEBEB;
$blue:#406EEF;
$pink:#EA5890;
$white:#FFFFFF;

// fonts

$primary-font: NeutralFace;
$header-font: OpenSansBold;
$text-font: OpenSans;