@import "./base/base";
@import "./sections/index";
@import "./components/index";


$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular'; 

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: NeutralFace;
  src: url("../fonts/NeutralFace.otf");
}

// ______________________________________ GLOBAL


