@import "./base/base";
@import "./sections/index";
@import "./components/index";

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: NeutralFace;
  src: url("../fonts/NeutralFace.otf");
}

// ______________________________________ GLOBAL


