.faq-nav-container{
    .valer-container {
        background-color: $light-grey;
    }
}
.faq-page__container {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
}
/* faq-container is a wrapper of an entire section with black and white fields, questions and ansewrs. */
.faq-container {
    width: 100%;
    height: auto;
    display: block;
}
.faq-field {
    padding: 64px 20px 10px 20px;
}
.faq-field--black {
    background-color: $dark-grey;
    color: white;
    border: 1px solid $dark-grey;
}

.faq-field--white {
    background-color: white;
    font-family: $primary-font;
    font-size: 18px;
}

p.faq-question {
    margin: 0;
}

h2.faq-section__header {
    padding-top: 48px;
    font-size: 15vh;
    }
/*  ____________________________ first two faq-fields */
.faq-intro--white {
    font-family: $text-font;
    font-weight: bold;
    font-size: 28px;
    padding-top: 28px;
}
.faq-intro--black{
    font-family: $text-font;
    font-size: 16px; 
}
.faq-field-intro--black {
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq-field-intro {
    padding: 20px;
}

@media screen and (min-device-width: 1200px) {

    .faq-page__container {
        max-width: 960px;
    }
    .faq-container {
        height: auto;
        display: flex;
    }
    
    .faq-field {
        flex: 1;
        padding: 64px;
        p {
            margin: 0;
        }
    }

    .faq-field--white {
        font-size: 28px;
        font-weight: 300;
    }
    .faq-field-intro {
        padding: 64px 64px 120px 64px;
    }

    .faq-intro--white {
        font-size: 48px;
    }
    .faq-intro--black{
        font-size: 20px; 
    }
}

@media screen and (min-device-width: 1440px) {
    .faq-page__container {
      max-width: 1200px;
    }
  }