#impressum .section__description {
    font-size: 28px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
     #impressum .section__header {
         font-size: 12vw;
     } 
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
     #impressum p {
         width: 75ch;
     } 
  }

@media screen and (min-device-width: 1025px) {
    #impressum .section__description {
        font-size: 74px;
    }

    #impressum p {
        width: 80ch;
        font-size: 12px;
        line-height: 1.5;
    }
    #impressum p:first-of-type {
        width: 80ch;
        font-size: 12px;
        line-height: 1.5;
    }

    #impressum a {
        color: $blue;
        text-decoration: none;
    }
    #impressum a:hover {
        color: $pink;
    }
}