
.thanks-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3.thanks-message { 
    font-family: $header-font;
    font-size: 8vh;
    margin-top: 18px;
    line-height: 1;
    margin: 0;
  }

  .thanks-message-p {
      font-size: 18px;
  }

  .thanks-wrapper .btn-container {
      max-width: 100%;
  }

@media screen and (min-device-width: 1025px) {
    h3.thanks-message {
        font-size: 15vh;
        margin: 0 0 0 -10px;
    }
    .thanks-wrapper .btn-container {
        max-width: 348px;
    }
}

/* button is in the components ! */