.btn-container {
    background-color: $blue;
    border: none;
    transition: .2s;
    cursor: pointer;

    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    
     a {
        color: white;
        font-family: $primary-font;
        /* font-weight: bold; */
        text-decoration: none;
        
    }
}
.link .btn-container {
    margin-top: 10px;
}

.btn-container:hover {
    background-color: $pink;
}
.sm-btn-display-none {
    display: none;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape),only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .sm-btn-display-none {
        display: flex;
    } 
  }

@media screen and (min-device-width: 1025px) {
    .sm-btn-display-none {
        display: flex;
    }

    .lg-btn-display-none {
        display: none;
    }
}