.btn-container {
    background-color: $blue;
    border: none;
    transition: .2s;
    cursor: pointer;

    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    
     a {
        color: white;
        font-family: $primary-font;
        /* font-weight: bold; */
        text-decoration: none;
        
    }
}

.btn-container:hover {
    background-color: $pink;
}
.sm-btn-display-none {
    display: none;
}

@media screen and (min-device-width: 1200px) {
    .sm-btn-display-none {
        display: flex;
    }

    .lg-btn-display-none {
        display: none;
    }
}