.card__valer-container {
    width: 100%;
    height: 1vh;
    display: flex;
    position: absolute;
    bottom: 0;
}
.card {
    background-color: $dark-grey;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__services {
    padding: 0;
    min-height: 75vh;
}
.card-services-title {
    color: white;
    font-family: $text-font;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 36px 0;
}
.card li{
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}
ul.card__ul{
    list-style-type: disc; 
    padding-left: 0;
    display: flex;
    flex-direction: column;    
}

.card__work {
    height: 100%;
    width: 16vh;
    padding: 0;
    margin-left: auto;
    align-items: flex-start;
    position: relative;
    top: -1px;
    .card__ul {
        list-style: none;
        margin-top: auto;
        padding: 10px;
        .card__li-item {           
            margin-bottom: 5px; 
        }
    }
    .card__valer-container {
        height: .5vh;
    }
}

@media screen and (min-device-width: 1200px) {
    .card__services {
        min-height: 70vh;
    }

    .card li{
        color: white;
        font-size: 14px;
        margin-bottom: 28px;
    }
    .card li:last-of-type{
        margin-bottom: 10px;
    }
    .card__work {
        min-height: 25vh;
        width: 25vh;
        margin-left: 0;
        .card__ul {
            .card__li-item {
                margin-bottom: 18px; 
            }
        }
        .card__valer-container {
            height: .5vh;
        }
    }  
}

@media screen and (min-device-width: 1440px) {
    .container {
        .card__services {
            min-height: 65vh;
        }
    }
  }

  @media screen and (min-device-width: 1600px) {
    .container {
        .card__services {
            min-height: 50vh;
        }
    }
  }
